.venv/
.env/
# Virtual Environments
.venv/
env/
venv/

# Environment Variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Logs
*.log

# Streamlit cache
.streamlit/

# Local dev containers (like in Codespaces)
.devcontainer/

# Kaggle
.kaggle/

EV_Battery_Health_Prediction_files/

DACIA SPRING
NISSAN LEAF
VED_DynamicData_Part1
VED_DynamicData_Part2
sample_logs
other_source_files

smart_ev_energy_logs_dirty.csv
summary_statistics.csv